
{% extends 'base.html.twig' %}

{% block title %}Liste des tickets{% endblock %}

{% block body %}
    
    <table class="table table-striped table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">Label</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.label }}</td>
                    <td>
                        <a href="{{ path('tickets_show', {ticketId: ticket.id}) }}" class="btn btn-success">Voir</a>

                        <a href="/tickets/new" class="btn btn-success">Ajouter</a>
                        <a href="{{ path('tickets_edit', {ticketId: ticket.id}) }}" class="btn btn-success">Editer</a>
                        <a href="{{ path('tickets_delete', {'ticketId': ticket.id}) }}" onclick="confirm('Voulez vous vraiment supprimer')" class = "text-danger" class="btn btn-success"> Supprimer</a>
                      

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="" class="btn btn-success">Test</a>
    
   

{% endblock %}